body { font-family:sans-serif; }

.EditBox div { display:inline; }
.EditBox { margin-left:-0.25em; display:flex; flex-direction:row; justify-content:space-between; } /* Left-flush despite input margin */
.EditBox input, .EditBox .EditBoxSpacer, .EditBox a { margin:0.25em; }
.EditBox a { text-decoration:none; padding:0.25em; font-size:14px; }
.EditBox a:hover { background-color:#e9e0f0; }
.Highlighted { background-color: #dddddd; }

.ListDisplay { margin-left:1em; margin-top:1em; }

.ListMeta { display:flex; flex-direction:row; margin-bottom:0.25em;}
.ListMeta > div:not(:first-child) { margin-left:1em; } 

.ListContent { display:flex; }

.NodeDisplay, .NodeData { border-width: 1px; border-color:black; border-style:solid; padding:0.25em; }
.ListContent > .NodeDisplay, .ListContent > .NodeData { border-width:2px !important; }

.NodeContent .NodeDisplay:not(:first-child), .NodeContent .NodeData:not(:first-child) { margin-top:0.25em; }

.NodeDisplay { display:flex; flex-direction:row; justify-content:space-between; }
.NodeMeta { margin-right:0.5em; }
.NodeMeta div:not(:first-child) { margin-top:0.25em; }

.NodeData { background-color: #f2f2f2; }

.NodeContentOrderedError { background-color:#154360; }

.DataString, .DataNumber, .DataSpecial, .DataOther { display:inline; }
.DataNumber, .DataSpecial { font-weight:bold; }
.DataNumber { color:#3E0000; }

#headTail { background-color: #e9e0f0; }
#head { background-color:#f7e3ea; }
.NodeMetaHead { color:#7B241C; }
#tail { background-color:#dceaf4; }
.NodeMetaTail { color:#154360; }

.NodeMetaHead { font-weight:bold; }
.NodeMetaTail { font-weight:bold; }
